body, html {
	height: 100%;
}

.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}

body, .bg {
	background-image: url("../img/subway110c.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg__contact {
	background-image: url("../img/IMG_6161.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.modal-content {
	background-color: rgba(255, 255, 255, 0) !important;
}
.modal-header {
	color: white;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid grey;
}
.modal-body {
	color: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
}
.modal-footer {
	color: white;
	border-top: 1px solid grey;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.carousel .carousel-control-next, 
.carousel .carousel-control-prev {
	height: 70%;
	color: red !important;
}
.carousel .carousel-control:hover::before,
.carousel .carousel-control-next-icon {
    color: red !important;
}

.carousel .carousel-control:hover::after {
    color: red !important;
}
.carousel .carousel-indcators li {
	color: red !important;
}